/.vs/ImoutoRebirth.Navigator.ApngWpf/v16/*
/.vs/*
/ImoutoRebirth.Navigator.ApngWpf/bin/*
/ImoutoRebirth.Navigator.ApngWpf/obj/*
/ImoutoRebirth.Navigator.ApngWpfPlayer/bin/*
/ImoutoRebirth.Navigator.ApngWpfPlayer/obj/*
/ImoutoRebirth.Navigator.ApngWpfPlayer/ImoutoRebirth.Navigator.ApngWpfPlayer.csproj.user
/ImoutoRebirth.Navigator.ApngWpf/ImoutoRebirth.Navigator.ApngWpf.csproj.user
